# Игнорирование директорий кеша Python
__pycache__/

# Игнорирование скомпилированных файлов Python
*.py[cod]

# Игнорирование временных файлов
*$py.class

# Игнорирование виртуальных окружений
venv/
.env/

# Игнорирование файлов конфигурации среды разработки
.idea/
.vscode/

# Игнорирование файлов логов
*.log

# Игнорирование файлов базы данных
*.sqlite3

# Игнорирование файлов, связанных с тестами
.coverage
*.cover
coverage.xml
nosetests.xml
test-results/

# Игнорирование выходных данных компиляции
build/
dist/
*.egg-info/